@import url(https://fonts.googleapis.com/css?family=Raleway&display=swap);
body {
    font-family: Raleway, Arial, Helvetica, sans-serif;
    margin: 0;
}
p {
    color: black;
}

.content { 
    display: flex;
    justify-content: center;
    align-items: center;
}